<!DOCTYPE=html>
<html>
<head>
    <title>
        Store Report: with a change
    </title>
</head>
<body>
    <div>{% for img in images %}
        <img src="{{url_for('static', filename=img)}}" alt="{{img}}" height='420' width='620'>
        
        {% endfor %}
    <p>Choose which picture is more complex:</p>
    <form>
        <input type="radio" id='1' name='complex' value='TRUE'>
        <label for="1">Picture 1</label><br>
        <input type="radio" id='2' name='complex' value='FALSE'>
        <label for="2">Picture 2</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>