{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Tree Complexity Intuition</h1>
          <p>number of trees in image folder: {{images}}</p>
         
          
        </div>
         <div class="container has-text-centered">{% for item in img_list %}
            <img src="{{item}}" width="500" height="600">
                {% endfor %}</div>
      </div>
      <p>Choose which picture is more complex:</p>
    <form action ='' method='post' id='submit_form'>
        <input type="radio" id='1' name='complex' value='TRUE'>
        <label for="1">Picture 1</label><br>
        <input type="radio" id='2' name='complex' value='FALSE'>
        <label for="2">Picture 2</label><br>
        <input type="submit" value="Submit">
    </form>
    </section>
{% endblock %}